body {
	background: #111;
	font-family: 'Roboto Condensed', sans-serif;
	color: #ccc;
	height: 100%;
	display: inline-block;
	width: 100%;
}

img,
embed,
object,
video {
	max-width: 100%;
	max-height: 100%;
}

nav, a, button {
	min-width: 48px;
}

a {
	text-decoration: none;
}

nav {
	text-transform: uppercase;
	text-align: center;
	display: block;
	float: left;
	width: 100%;
	padding-bottom: 12px;
	background-color: #111;
}

nav a {
	color: #ccc;
	padding: 0 5%;
	font-size: 18px;
	border-right: 1px solid #222;
}



.justify {
	text-align: center;
	padding-top: 20px;
}

@media screen and (max-width: 499px) {
	/*
		mobile size
	*/
	div.wrapper-head .justify {
		display: none;
	}

	nav > a {
		display: block;
		text-align: left;
		padding: 12px 10px;
		margin: 0;
		border-bottom: 1px solid #222;
		background: transparent url(../img/menu/right_arrow_24.png) no-repeat 95% 50%;
		background-size: 16px 16px;
	}

	.social {
		margin-right: 5%;
	}

	.container-footer {
		padding-top: 8px;
	}

	.nav-logo {
		float: left;
		padding-top: 10px;
		padding-left: 10px;
	}

}

@media screen and (min-width: 500px) {
	/*
		full size
	*/
	div.wrapper-mid > .container-nav {
		display: none;
	}

	nav a:last-of-type {
		border: none;
	}

	.social {
		margin-right: 1%;
	}

	.container-footer {
		padding-top: 36px;
	}

	.nav-logo {
		float: left;
		padding-top: 14px;
		padding-left: 11px;
	}
}



.nav-sections {
	margin-top: 8px;
}

.img-responsive {
	max-width: 100%;
	max-height: 100%;
}

.social-img {
	max-height: 28px;
}

.wrapper-head,
.wrapper-mid,
.wrapper-footer {
	display: inline-block;
	margin: 0;
	width: 100%;
	text-align: center;
}

.content {
  height: 100%;

}

.various {
	max-height: 100%;
}

.container-nav {
	display: inline-block;
	width: 100%;
	max-width: 650px;
	text-align: center;
}

.container-footer {
	display: block;
	text-align: center;
	color: #555;
	font-size: 12px;
	padding-bottom: 8px;
}

.social:last-of-type{
	margin-right: 0;
}

.max-wide {
	height: 100%;
	width: 100%;
}

.center {
	float: none;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#dummy {
    display: none;
}

.fancybox-inner iframe {
	margin: auto;
    display: block;
    width: 100%;
    height: 100%;
}
